/* input, textarea{
	background: #2FC8AD !important;
	border: 2px solid #2FC8AD !important;
	box-sizing: border-box !important;
	border-radius: 8px !important;
    color:    #000000 !important;
}

input.text-input::placeholder { 
    color: #000000 !important;
    opacity: 1; 
}

input:hover, textarea:hover,input:active, textarea:active,input:visited, textarea:visited{
	background: #2FC8AD !important;
	border: 2px solid #2fc8ad !important;
	box-sizing: border-box !important;
	border-radius: 8px !important;
    color:    #000000 !important;
} */

/* .form-control {
    background-color:  #96d3ec!important;
  } */

.form-control-dashboard input  {
    /* display: block !important; */
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px) !important;
    /* padding: .375rem .75rem !important; */
    /* font-size: 1rem !important; */
    /* font-weight: 400 !important; */
    /* line-height: 1.5 !important; */
    color: #ffffff !important;
    /* background-color: #16171c !important; */
    /* background-clip: padding-box !important; */
    /* border: 0px solid #ffffff !important; */
    /* border-radius: 8px; */
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

.form-control-dashboard input:focus  {
  /* display: block !important; */
  /* width: 100% !important; */
  /* height: calc(1.5em + .75rem + 2px) !important; */
  /* padding: .375rem .75rem !important; */
  /* font-size: 1rem !important; */
  /* font-weight: 400 !important; */
  /* line-height: 1.5 !important; */
  /* color: #ffffff !important; */
  /* background-color: #2FC8AD !important; */
  /* background-clip: padding-box !important; */
  /* border: 3px solid #ffffff !important;
  border-radius: 8px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important; */
}

.rbt{
  width: 100%;
}
#field2::-webkit-input-placeholder { color:white; }
input[type="text"].rbt-input-main::-webkit-input-placeholder {
    color: #ffffff;
  }

  input[type="text"].rbt-input-main{
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + .75rem + 0px) !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #ffffff !important;
    background-color: #16171C !important;
    background-clip: padding-box !important;
    /* border: 1px solid #ffffff !important; */
    /* border-radius: .25rem !important; */
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
  }
